.list_form_background{ width: 880px; background: #fff; margin: 0 auto; border:#dedede 1px solid; padding: 10px; position: relative;}

.list_form_info{ width: 880px; padding: 20px 0 20px 0; margin: 0 auto; background: #eee url('../images/list_form_info_bg.png') no-repeat 115px 20px;}
.list_form_info p{ margin: 0;padding-left: 170px; width: 730px; margin: 0 auto;}

.list_form_h3{ padding-left: 170px;}
.list_form_background hr{padding: 0; margin: 0;}

.list_form_right_bg{ position: absolute; top: -125px; right: -145px;}

.list_form_top{ width: 800px; margin: 0 auto; padding: 10px;}
.list_form_label{ float: left; width: 100px; height: 25px; text-align: right; padding-right: 30px; line-height: 25px; font-size: 15px;}
.list_form_label label{ font-weight: 300;}
.list_form_label span{ color: red;}
.list_form_input label{ font-weight: 300; font-size: 15px;}
.list_form_input{ float: left; padding-right: 10px; width: 400px;}
.list_form_error{ float: left; width: 200px; height: 25px; line-height: 25px;}

.list_form_error div{margin: 0; padding: 0;}
.list_form_input input[type=text]{ height: 25px; width: 170px; padding: 0 10px 0 10px; margin: 0; float: left;}
.list_form_input input[type=password]{ height: 25px; width: 170px; padding: 0 10px 0 10px; margin: 0; float: left;}
.list_form_input textarea{ width: 300px;}
.list_form_input select{ height: 25px; width: 170px; padding: 0 10px 0 10px; margin: 0; float: left;}
.list_form_input .hint-block{ float: left; padding: 0 10px; line-height: 25px; margin-top: 0; color: #333; font-size: 15px;}

.other_btn{ margin-left: 170px;}

.list_form_top .list_form_input .list_form_title{ width: 300px;}

.list_form_background .list_submit_btn{ display: block; margin: 0 auto; padding: 10px 30px; font-size: 20px; background: #ff3d29; color: #fff;}
.list_form_background .list_submit_btn:hover{ background: #e54332; color: #fff;}

.list_form_road{ width: 900px; margin: 0 auto; padding-left: 0px; padding-bottom: 10px;}
.list_form_road_div{ float: left;}
.list_form_road_div span{ display: block; float: left; height: 30px; width: 30px; background: url('../images/list_form_road.png'); line-height: 30px; text-align: center; color: #fff;}
.list_form_road_div .list_form_road_lock{background: url('../images/list_form_road_lock.png');}
.list_form_road_div p{ float: left; height: 30px; line-height: 30px; font-size: 20px; color: #666; padding-left:20px}
.list_form_road_gt{ float: left;height: 30px; line-height: 30px; font-size: 15px; color: #666; margin:0 20px; width: 30px; background: url('../images/list_form_road_gt.png'); }

.upload_iframe{ margin-left:170px; height:40px; width:600px; padding:0;}
